<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link
    href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAo2JIAIpSPADdycEAm11EAM2uoQD//v4A9u/tALWJeADn2NMA0bCjAJ9gRgCTWEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEERERVlERQAsRERFWURGwCxEREVZREbALERERVlERsAsRERFWURGwCxERTFZcQbALERFWZmaRsAsREaZmZnGwCxEREVZREbALERERVpRBsAsRERGGZmuwCxERERNmcbALERERERERsALMzMzMzMwgAAAAAAAAAAD//wAAgAEAAIABAACAAQAAgAEAAIABAACAAQAAgAEAAIABAACAAQAAgAEAAIABAACAAQAAgAEAAIABAAD//wAA"
    rel="icon" type="image/x-icon" />
  <meta name="viewport" content="<%= htmlWebpackPlugin.options.viewport %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body class="bg-fb-bg  dark:bg-green-50">
  <header class="px-3 dark:bg-blue-300 bg-fb-header w-full h-[60px] fixed top-0 flex items-center justify-between ">
    <div class="logo_area flex-grow flex items-center cursor-pointer">
      <div class="img w-[30px] h-[30px] rounded-xl inline-block p-1 dark:bg-white bg-fb mr-3">
        <img src="/assets/img/facebook-app-symbol.png" alt="">
      </div>
      <svg xmlns="http://www.w3.org/2000/svg"
        class=" lg:hidden inline-block cursor-pointer popover-btn dark:popover-btn-dark  dark:lg:hidden" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      <div class="search relative hidden lg:block">
        <svg xmlns="http://www.w3.org/2000/svg"
          class="absolute inline-block cursor-pointer popover-btn dark:popover-btn-dark left-[-12px] " fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
        <input type="text"
          class="block pl-12 text-white rounded-full w-[400px] h-[40px] border-none outline-none bg-fb-input placeholder-white"
          placeholder="輸入查詢fb...">
      </div>
    </div>
    <div class="dark_mode flex-grow text-center">
      <label class="switch">
        <input type="checkbox" class="dark_mode" />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="icon_area  flex-grow flex justify-end relative">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" data-btn="add"
          class="inline-block cursor-pointer popover-btn dark:popover-btn-dark" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
        </svg>
        <div data-box="add" class="popover-box dark:popover-box-dark hidden">
          <h2 class="text-2xl mb-2 dark:text-gray-800">建立</h2>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg"
              class="dark:popover-btn-dark popover-btn mx-0 mr-3 border-2 inline-block border-gray-50" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            <div class="flex-grow ">
              <p class="dark:text-gray-800">貼文</p>
              <p class=" text-gray-400 dark:text-gray-800">在動態消息分享貼文</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" data-btn="message"
          class="inline-block cursor-pointer popover-btn dark:popover-btn-dark " fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
        </svg>
        <div data-box="message" class="popover-box dark:popover-box-dark hidden">
          <h2 class="text-2xl mb-2 dark:text-gray-800">Messenger</h2>
          <div class="flex items-start relative mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-[20px] text-gray-100 absolute left-4 top-2.5" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
            <input type="text" placeholder="搜尋 Messenger"
              class="w-full h-[40px] bg-[#555] rounded-full pl-12 outline-none border-none">
          </div>
          <div class="flex items-center">
            <div class="w-[50px] h-[50px] overflow-hidden rounded-full mr-2">
              <img src="https://picsum.photos/seed/picsum/200/300" alt="">
            </div>
            <div class="flex-grow ">
              <p class="dark:text-gray-800">Allen</p>
              <p class=" text-gray-400 dark:text-gray-800">TailwindCss好好玩!
                。<time>1分鐘前</time>
              </p>
            </div>
          </div>
        </div>
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" data-btn="ring"
        class="inline-block cursor-pointer popover-btn dark:popover-btn-dark" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" data-btn="down"
        class="inline-block cursor-pointer popover-btn dark:popover-btn-dark" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>

      <!-- 下拉選單 -->



    </div>


  </header>
  <main class="min-h-[100vh] pt-main-span flex justify-between">
    <div class="hidden sm:block max-w-[15%] w-full h-[80vh] sticky top-main-span bg-indigo-50">
      <h2>社團</h2>
    </div>
    <div class="max-w-[750px] w-full h-[200vh] mx-auto bg-blue-300">
      <h2 class=" text-white">動態牆</h2>
    </div>
    <div class="sm:block hidden max-w-[15%] w-full h-[90vh] sticky top-main-span bg-indigo-50 z-[-1]">
      <h2>好友</h2>
    </div>
  </main>


</body>


<script>

  let button = document.querySelector('.dark_mode')
  let darkMode = false
  button.addEventListener('change', (e) => {
    this.darkMode = !this.darkMode
    if (this.darkMode) document.documentElement.classList.add('dark')
    if (!this.darkMode) document.documentElement.classList.remove('dark')
  })

  let icons = document.querySelectorAll('[data-btn]')


  let isShow = false;
  let checkDom = [];
  icons.forEach((icon) => {
    icon.addEventListener('click', (e) => {
      if (e.target.tagName !== 'svg') {
        let hiddenDom = document.querySelectorAll('[data-box]')
        hiddenDom.forEach((dom) => {
          dom.classList.add('hidden')
        })
        return
      }
      isShow = !isShow
      let parentDom = e.target.parentNode.querySelector('div')
      checkDom.unshift(parentDom)
      boxHandler(parentDom);
    })
  })


  function boxHandler(parentDom) {
    let hiddenDom = document.querySelectorAll('[data-box]')
    hiddenDom.forEach((dom) => {
      dom.classList.add('hidden')
    })
    if (checkDom[0] !== checkDom[1]) {
      isShow = true
    }
    if (isShow) {
      checkDom[0].classList.remove('hidden')
    }

  }


</script>


</html>